---
import Layout from '../layouts/Layout.astro';
import MainMenu from "../components/Main-menu.astro";
---

<Layout title="Blog">
    <main>
        <h1>Blog</h1>
        <MainMenu></MainMenu>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
</style>